*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body   
{  
  height: 125vh;  
  margin-top: 0px;  
  padding: 0px;  
  background-size: cover;  
  font-family: Quicksand;  
}  

.container {
  padding: 3rem;
}

.reportform {
  padding: 2rem;
}

.reportform p {
  padding: 5px;
}

.reportform input{
  padding: 3px;
  width: 250px;
}

.reportform textarea { 
  height: 150px;
  width: 500px;
  padding: 3px;
}

.reportform button {
  padding: 3px;
  margin-top: 20px;
  font-size: large;
}