*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body   
{  
  height: 125vh;  
  margin-top: 0px;  
  padding: 0px;  
  background-size: cover;  
  font-family: montserrat;  
}  

.nav {  
  background-color: rgb(192, 0, 0);  
  width: 100%;
}  

label.logo {
  color: white;
  font-size: 20px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display:  inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  background-color: rgb(197, 8, 8);
  color:  white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius:  3px;
  text-transform: uppercase;
}
.navb:active, .navb:hover {
  background-color: rgb(255, 110, 110);
  transition: 0.5s;
}

.container {
  padding-left: 3rem;
  padding-top: 3rem;
}

.reportform {
  padding: 2rem;
}

.reportform p {
  padding: 5px;
}

.reportform input{
  padding: 3px;
  width: 250px;
}

.reportform textarea { 
  height: 150px;
  width: 500px;
  padding: 3px;
}

.stevenslogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}